# executable and header files
optimal_partition
header
add_header
gmon.out
EU_script
log

# C++ and Dev-C++
*.o
*.layout

# RStudio
.RData
.Rhistory

# Temp files
*~
\#*\#
\*R\*
*.backup

# Source files
src/*
!src/*.cpp
!src/*.hpp
!src/Makefile

# R files
R/*
!R/*.R

# Input files
input/*
!input/graphs
!input/geomedia
!input/geomedia/*.csv

# Output files
output/*
!output/graphs
!output/*.R

#Binary files
bin/*
!bin/README

#Temp files
temp/

# Backup files
backup/
