# executable and header files
optimal_partition
header
add_header
gmon.out

# C++ and Dev-C++
*.o
*.layout

# RStudio
.RData
.Rhistory

# Temp files
*~
\#*\#
\*R\*
*.backup

# Source files
src/*
!src/*.cpp
!src/*.hpp
!src/Makefile

# Input files
input/*
!input/GEOMEDIA
!input/GEOMEDIA/*.R
!input/GEOMEDIA/*.csv

# Output files
output/*
!output/*.R

#Binary files
bin/*
!bin/README

# Backup files
backup/
