# executable
optimal_partition

# C++ and Dev-C++
*.o
*.layout

# RStudio
.RData
.Rhistory

# Temp files
*~
\#*\#
\*R\*
*.backup

# Data files
data/*
!data/*.R

# Source files
src/*
!src/*.cpp
!src/*.hpp
!src/Makefile*

